@import "~normalize.css/normalize.css";
@import "icons";

html{
    background-color: grey;
}
.splash{
    text-align: center;
    font-family: 'Lato', sans-serif;
    .splash-title{
        font-size: 4rem;
        color: white;
        margin-bottom: 0;
    }
    .splash-subtitle{
        font-size: 1.2rem;
        font-style: italic;
    }
    .splash-nav-social-list{
        list-style: none;
        padding-left: 0;
    }
    .splash-nav-social-list-entry{
        display: inline-block;
    }
}
